// COLORS
$color-black: #000000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777777;
$color-grey-dark-1: #999999;
$color-grey-darker: #333333;
$color-grey-bluish: #71778F;
$color-dark-blue: #22283D;
$color-white: #ffffff;
$shadow-black: #111111;

$border-color: #eeeeee;

$card-1-color-1: #FDB927;
$card-1-color-2: #006BB6;
$card-2-color-1: #542E91;
$card-2-color-2: #C4CED4;
$card-3-color-1: #EEE1C6;
$card-3-color-2: #00471B;

// CARD
$card-height: 52rem;

// FONT
$default-font-size: 1.6rem;


// GRID
$fake-grid-width: 100rem;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// PIC
$new-pic-height: 20rem;